main>section:nth-child(1){
    background-color: #1E272E;
    height: 650px;
    width:98.9vw ;
    top: -17px;
    position: relative;
}
main>section>section:nth-child(1)>div>h1{
    position: absolute;
    top: 28px;
    left: 374px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
main>section>section:nth-child(2)>aside:nth-child(1)>div:nth-child(1){
    background-image: url("../../assets/img/about img.png");
    width: 188px;
    height: 218px;
    position: absolute;
    left: 75px;
    top: 100px;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
main>section>section:nth-child(2)>aside:nth-child(1)>div:nth-child(2){
    border: 5px solid #00D2D3 ;
    width: 188px;
    height: 218px;
    position: absolute;
    left: 102px;
    top: 70px;
    z-index: 1;

}
main>section>section:nth-child(2)>aside:nth-child(2)>article:nth-child(1)>p{
    color: white;
    width: 487px;
    height: 200px;
    font-size: 20px;
    position: absolute;
    top: 95px;
    left: 374px;
}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3{
    color: #00D2D3;
    width: 587px;
    height: 27px;
    font-size: 20px;
    position: absolute;
    /*top: 343px;*/
    /*left: 323px;*/
    /*font-family: 'Poppins', Inter;*/
    /*font-weight: lighter;*/
}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4{
    color: white;
    width: 587px;
    height: 27px;
    font-size: 20px;
    position: absolute;

}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(2){
    top: 292px;
    left: 442px;

}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(4){
    top: 331px;
    left: 536px;

}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(6){
    top: 368px;
    left: 521px;

}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(8){
    top: 403px;
    left: 479px;

}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(10){
    top: 436px;
    left: 463px;

}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(12){
    top: 474px;
    left: 461px;

}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(1){
    top: 298px;
    left: 374px;
    /*font-family: 'Poppins', Inter;*/
    /*font-weight: lighter;*/
}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(3){
    top: 338px;
    left: 374px;
    /*font-family: 'Poppins', Inter;*/
    /*font-weight: lighter;*/
}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(5){
    top: 375px;
    left: 374px;
    /*font-family: 'Poppins', Inter;*/
    /*font-weight: lighter;*/
}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(7){
    top: 409px;
    left: 374px;
    /*font-family: 'Poppins', Inter;*/
    /*font-weight: lighter;*/
}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(9){
    top: 444px;
    left: 374px;
    /*font-family: 'Poppins', Inter;*/
    /*font-weight: lighter;*/
}
main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(11){
    top: 483px;
    left: 374px;
    /*font-family: 'Poppins', Inter;*/
    /*font-weight: lighter;*/
}

/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px) {
    main>section:nth-child(1){
        background-color: #1E272E;
        height: 350px;
        width:320px;
        top: -17px;
    }
    main>section>section:nth-child(1)>div>h1{
        top: 13px;
        left: 125px;
        font-size: 13px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }

    main>section>section:nth-child(2)>aside:nth-child(1)>div:nth-child(1){
        background-image: url("../../assets/img/about img.png");
        width: 50px;
        height: 70px;
        position: absolute;
        left: 24px;
        top: 51px;
        background-size: cover;
        background-position: center;
        z-index: 2;
    }
    main>section>section:nth-child(2)>aside:nth-child(1)>div:nth-child(2){
        border: 1px solid #00D2D3 ;
        width: 50px;
        height: 70px;
        position: absolute;
        left: 35px;
        top: 42px;
        z-index: 1;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>article:nth-child(1)>p{
        color: white;
        width: 200px;
        height: 145px;
        font-size: 13px;
        top: 26px;
        left: 111px;
    }
    /*-----------------------------------------*/
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3{
        color: #00D2D3;
        width: 200px;
        height: 15px;
        font-size: 12px;
        position: absolute;
        /*top: 343px;*/
        /*left: 323px;*/
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4{
        color: white;
        width: 200px;
        height: 15px;
        font-size: 12px;
        position: absolute;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(2){
        top: 193px;
        left: 67px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(4){
        top: 211px;
        left: 123px;
        width: 95px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(6){
        top: 229px;
        left: 113px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(8){
        top: 246px;
        left: 89px;
        width: 211px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(10){
        top: 281px;
        left: 81px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(12){
        top: 302px;
        left: 81px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(1){
        top: 197px;
        left: 22px;
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(3){
        top: 215px;
        left: 22px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(5){
        top: 233px;
        left: 22px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(7){
        top: 250px;
        left: 22px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(9){
        top: 285px;
        left: 22px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(11){
        top: 306px;
        left: 22px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }

}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 376px){
    main>section:nth-child(1){
        background-color: #1E272E;
        height: 700px;
        width:98.9vw;
        top: 0px;
    }
    main>section>section:nth-child(1)>div>h1{
        top: -5px;
        left: 125px;
        font-size: 18px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }

    main>section>section:nth-child(2)>aside:nth-child(1)>div:nth-child(1){
        background-image: url("../../assets/img/about img.png");
        width: 80px;
        height: 100px;
        position: absolute;
        left: 131px;
        top: 51px;
        background-size: cover;
        background-position: center;
        z-index: 2;
    }
    main>section>section:nth-child(2)>aside:nth-child(1)>div:nth-child(2){
        border: 2px solid #00D2D3;
        width: 80px;
        height: 100px;
        position: absolute;
        left: 146px;
        top: 37px;
        z-index: 1;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>article:nth-child(1)>p{
        color: white;
        width: 291px;
        height: 147px;
        font-size: 16px;
        top: 162px;
        left: 48px;
    }
    /*-----------------------------------------*/
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3{
        color: #00D2D3;
        width: 200px;
        height: 15px;
        font-size: 16px;
        position: absolute;
        /*top: 343px;*/
        /*left: 323px;*/
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4{
        color: white;
        width: 200px;
        height: 15px;
        font-size: 16px;
        position: absolute;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(2){
        top: 361px;
        left: 101px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(4){
        top: 392px;
        left: 175px;
        width: 124px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(6){
        top: 427px;
        left: 161px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(8){
        top: 461px;
        left: 130px;
        width: 134px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(10){
        top: 534px;
        left: 116px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(12){
        top: 571px;
        left: 115px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(1){
        top: 366px;
        left: 45px;
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(3){
        top: 397px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(5){
        top: 433px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(7){
        top: 467px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(9){
        top: 540px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(11){
        top: 578px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }

}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px){
    main>section:nth-child(1){
        background-color: #1E272E;
        height: 700px;
        width:98.9vw;
        top: 0px;
    }
    main>section>section:nth-child(1)>div>h1{
        top: -5px;
        left: 151px;
        font-size: 20px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }

    main>section>section:nth-child(2)>aside:nth-child(1)>div:nth-child(1){
        background-image: url("../../assets/img/about img.png");
        width: 80px;
        height: 100px;
        position: absolute;
        left: 131px;
        top: 51px;
        background-size: cover;
        background-position: center;
        z-index: 2;
    }
    main>section>section:nth-child(2)>aside:nth-child(1)>div:nth-child(2){
        border: 2px solid #00D2D3;
        width: 80px;
        height: 100px;
        position: absolute;
        left: 146px;
        top: 37px;
        z-index: 1;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>article:nth-child(1)>p{
        color: white;
        width: 291px;
        height: 151px;
        font-size: 17px;
        top: 162px;
        left: 58px;
    }
    /*-----------------------------------------*/
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3{
        color: #00D2D3;
        width: 200px;
        height: 15px;
        font-size: 16px;
        position: absolute;
        /*top: 343px;*/
        /*left: 323px;*/
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4{
        color: white;
        width: 200px;
        height: 15px;
        font-size: 16px;
        position: absolute;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(2){
        top: 361px;
        left: 101px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(4){
        top: 392px;
        left: 175px;
        width: 124px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(6){
        top: 427px;
        left: 161px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(8){
        top: 461px;
        left: 130px;
        width: 134px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(10){
        top: 534px;
        left: 116px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h4:nth-child(12){
        top: 571px;
        left: 115px;

    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(1){
        top: 366px;
        left: 45px;
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(3){
        top: 397px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(5){
        top: 433px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(7){
        top: 467px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(9){
        top: 540px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
    main>section>section:nth-child(2)>aside:nth-child(2)>address:nth-child(2)>h3:nth-child(11){
        top: 578px;
        left: 45px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: lighter;*/
    }
}
