main>section:nth-child(4){
    background-color: #2F3542;
    height: 850px;
    width:98.9vw ;
    top: -82px;
    position: relative;
}
main>section:nth-child(4)>section:nth-child(1)>h1{
    position: absolute;
    top: -13px;
    left: 640px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(1)>h3:nth-child(1){
    position: absolute;
    font-size: 25px;
    top: 160px;
    left: 331px;
    color: #FFFFFF;
}
main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(1)>h3:nth-child(2){
    position: absolute;
    font-size: 25px;
    top: 182px;
    left: 113px;
    color: #FFFFFF;
}
main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(1)>h3:nth-child(3){
    position: absolute;
    font-size: 25px;
    top: 207px;
    left: 272px;
    color: #FFFFFF;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(1){
    position: absolute;
    background-image: url("../../assets/img/Ellipse 5.png");
    /*font-size: 25px;*/
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    top: 68px;
    left: 696px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(2){
    position: absolute;
    background-image: url("../../assets/img/Line 4.png");
    /*font-size: 25px;*/
    width: 3px;
    height: 85px;
    background-size: cover;
    background-position: center;
    top: 117px;
    left: 720px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(3){
    position: absolute;
    background-image: url("../../assets/img/Ellipse 4.png");
    /*font-size: 25px;*/
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
    top: 200px;
    left: 705px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(4){
    position: absolute;
    background-image: url("../../assets/img/Ellipse 8.png");
    /*font-size: 25px;*/
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    top: 208px;
    left: 712px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(5){
    position: absolute;
    background-image: url("../../assets/img/Line 4.png");
    /*font-size: 25px;*/
    width: 3px;
    height: 168px;
    background-size: cover;
    background-position: center;
    top: 233px;
    left: 720px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(6){
    position: absolute;
    background-image: url("../../assets/img/Ellipse 4.png");
    /*font-size: 25px;*/
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
    top: 400px;
    left: 705px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(7){
    position: absolute;
    background-image: url("../../assets/img/Ellipse 8.png");
    /*font-size: 25px;*/
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    top: 408px;
    left: 712px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(8){
    position: absolute;
    background-image: url("../../assets/img/Line 4.png");
    /*font-size: 25px;*/
    width: 3px;
    height: 168px;
    background-size: cover;
    background-position: center;
    top: 433px;
    left: 720px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(9){
    position: absolute;
    background-image: url("../../assets/img/Ellipse 4.png");
    /*font-size: 25px;*/
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
    top: 600px;
    left: 705px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(10){
    position: absolute;
    background-image: url("../../assets/img/Ellipse 8.png");
    /*font-size: 25px;*/
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    top: 608px;
    left: 712px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(11){
    position: absolute;
    background-image: url("../../assets/img/Line 4.png");
    /*font-size: 25px;*/
    width: 3px;
    height: 85px;
    background-size: cover;
    background-position: center;
    top: 633px;
    left: 720px;
}
main>section:nth-child(4)>section:nth-child(3)>div:nth-child(12){
    position: absolute;
    background-image: url("../../assets/img/Ellipse 8.png");
    /*font-size: 25px;*/
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    top: 716px;
    left: 712px;
}
main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(2){
    position: absolute;
    background-image: url("../../assets/img/Kalutara_Vidyalaya_logo.png");
    /*font-size: 25px;*/
    width: 87px;
    height: 100px;
    background-size: cover;
    background-position: center;
    top: 371px;
    left: 555px;
}
main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(3)>h3:nth-child(1){
    position: absolute;
    font-size: 25px;
    top: 580px;
    left: 113px;
    color: #FFFFFF;
}
main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(3)>h3:nth-child(2){
    position: absolute;
    font-size: 25px;
    top: 606px;
    left: 298px;
    color: #FFFFFF;
}
main>section:nth-child(4)>aside:nth-child(4)>div:nth-child(1){
    position: absolute;
    background-image: url("../../assets/img/Rectangle 29.png");
    /*font-size: 25px;*/
    width: 160px;
    height: 100px;
    background-size: cover;
    background-position: center;
    top: 169px;
    left: 756px;
}
main>section:nth-child(4)>aside:nth-child(4)>div:nth-child(2)>h3:nth-child(1){
    position: absolute;
    font-size: 25px;
    top: 367px;
    left: 766px;
    color: #FFFFFF;
}
main>section:nth-child(4)>aside:nth-child(4)>div:nth-child(2)>h3:nth-child(2){
    position: absolute;
    font-size: 25px;
    top: 395px;
    left: 975px;
    color: #FFFFFF;
}
main>section:nth-child(4)>aside:nth-child(4)>div:nth-child(3){
    position: absolute;
    background-image: url("../../assets/img/My project (47).png");
    /*font-size: 25px;*/
    width: 206px;
    height: 100px;
    background-size: cover;
    background-position: center;
    top: 569px;
    left: 708px;
}
/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px) {
    main > section:nth-child(4) {
        background-color: #2F3542;
        height: 341px;
        width: 320px;
        top: -17px;
    }

    main > section:nth-child(4) > section:nth-child(1) > h1 {
        top: -4px;
        left: 121px;
        font-size: 13px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(1) {
        font-size: 10px;
        top: 59px;
        left: 71px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(2) {
        font-size: 10px;
        top: 70px;
        left: 47px;
        width: 131px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(3) {
        font-size: 10px;
        top: 104px;
        left: 48px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) {
        background-image: url("../../assets/img/Ellipse 5.png");
        /*font-size: 25px;*/
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        top: 28px;
        left: 145px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /*font-size: 25px;*/
        width: 1px;
        height: 34px;
        background-size: cover;
        background-position: center;
        top: 48px;
        left: 154px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /*font-size: 25px;*/
        width: 12px;
        height: 12px;
        background-size: cover;
        background-position: center;
        top: 82.7px;
        left: 149px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(4) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /*font-size: 25px;*/
        width: 6px;
        height: 6px;
        background-size: cover;
        background-position: center;
        top: 86px;
        left: 151.7px;
    }
    /*=================================================================================================*/
    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(5) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /*font-size: 25px;*/
        width: 1px;
        height: 72px;
        background-size: cover;
        background-position: center;
        top: 95px;
        left: 154px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(6) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /*font-size: 25px;*/
        width: 12px;
        height: 12px;
        background-size: cover;
        background-position: center;
        top: 166px;
        left: 149px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(7) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /*font-size: 25px;*/
        width: 6px;
        height: 6px;
        background-size: cover;
        background-position: center;
        top: 169.3px;
        left: 151.7px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(8) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /*font-size: 25px;*/
        width: 1px;
        height: 72px;
        background-size: cover;
        background-position: center;
        top: 178.3px;
        left: 154px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(9) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /*font-size: 25px;*/
        width: 12px;
        height: 12px;
        background-size: cover;
        background-position: center;
        top: 249.3px;
        left: 149px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(10) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /*font-size: 25px;*/
        width: 6px;
        height: 6px;
        background-size: cover;
        background-position: center;
        top: 252.6px;
        left: 151.7px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(11) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /*font-size: 25px;*/
        width: 1px;
        height: 51px;
        background-size: cover;
        background-position: center;
        top: 261.6px;
        left: 154px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(12) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /*font-size: 25px;*/
        width: 6px;
        height: 6px;
        background-size: cover;
        background-position: center;
        top: 307px;
        left: 151.7px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Kalutara_Vidyalaya_logo.png");
        /*font-size: 25px;*/
        width: 33px;
        height: 40px;
        background-size: cover;
        background-position: center;
        top: 155px;
        left: 91px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(3) > h3:nth-child(1) {
        position: absolute;
        font-size: 10px;
        font-size: 10px;
        top: 229px;
        left: 19px;
        width: 131px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(3) > h3:nth-child(2) {
        position: absolute;
        font-size: 10px;
        top: 253px;
        left: 47px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(1) {
        position: absolute;
        background-image: url("../../assets/img/Rectangle 29.png");
        /*font-size: 25px;*/
        width: 71px;
        height: 42px;
        background-size: cover;
        background-position: center;
        top: 69px;
        left: 180px;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(2) > h3:nth-child(1) {
        font-size: 10px;
        top: 140px;
        left: 188px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(2) > h3:nth-child(2) {
        font-size: 10px;
        top: 162px;
        left: 211px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(3) {
        background-image: url("../../assets/img/My project (47).png");
        width: 83px;
        height: 40px;
        background-size: cover;
        background-position: center;
        top: 236px;
        left: 163px;
    }
}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 376px){

         main > section:nth-child(4) {
         background-color: #2F3542;
         height: 393px;
         width: 98.9vw;
         top: -17px;
}

    main > section:nth-child(4) > section:nth-child(1) > h1 {
        top: -10px;
        left: 125px;
        font-size: 18px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(1) {
        font-size: 13px;
        top: 59px;
        left: 71px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(2) {
        font-size: 13px;
        top: 70px;
        left: 47px;
        width: 131px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(3) {
        font-size: 13px;
        top: 114px;
        left: 48px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) {
        background-image: url("../../assets/img/Ellipse 5.png");
        /* font-size: 25px; */
        width: 25px;
        height: 25px;
        background-size: cover;
        background-position: center;
        top: 28px;
        left: 160px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 2px;
        height: 42px;
        background-size: cover;
        background-position: center;
        top: 51px;
        left: 171px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 14px;
        height: 14px;
        background-size: cover;
        background-position: center;
        top: 91.7px;
        left: 165px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(4) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 9px;
        height: 9px;
        background-size: cover;
        background-position: center;
        top: 94px;
        left: 166.9px;
    }
    /*=================================================================================================*/
    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(5) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 2px;
        height: 80px;
        background-size: cover;
        background-position: center;
        top: 105px;
        left: 171px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(6) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 14px;
        height: 14px;
        background-size: cover;
        background-position: center;
        top: 184px;
        left: 165px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(7) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 9px;
        height: 9px;
        background-size: cover;
        background-position: center;
        top: 186px;
        left: 166.9px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(8) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 2px;
        height: 80px;
        background-size: cover;
        background-position: center;
        top: 198px;
        left: 171px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(9) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 14px;
        height: 14px;
        background-size: cover;
        background-position: center;
        top: 278px;
        left: 165px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(10) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 9px;
        height: 9px;
        background-size: cover;
        background-position: center;
        top: 281px;
        left: 166.9px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(11) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 2px;
        height: 42px;
        background-size: cover;
        background-position: center;
        top: 291px;
        left: 171px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(12) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 9px;
        height: 9px;
        background-size: cover;
        background-position: center;
        top:329px;
        left: 166.9px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Kalutara_Vidyalaya_logo.png");
        /*font-size: 25px;*/
        width: 40px;
        height: 48px;
        background-size: cover;
        background-position: center;
        top: 171px;
        left: 91px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(3) > h3:nth-child(1) {
        position: absolute;
        font-size: 13px;
        top: 250px;
        left: 30px;
        width: 133px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(3) > h3:nth-child(2) {
        position: absolute;
        font-size: 13px;
        top: 293px;
        left: 47px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(1) {
        position: absolute;
        background-image: url("../../assets/img/Rectangle 29.png");
        width: 91px;
        height: 57px;
        background-size: cover;
        background-position: center;
        top: 69px;
        left: 189px;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(2) > h3:nth-child(1) {
        font-size: 13px;
        top: 160px;
        left: 190px;
        color: #FFFFFF;
        width: 148px;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(2) > h3:nth-child(2) {
        font-size: 13px;
        top: 203px;
        left: 211px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(3) {
        background-image: url("../../assets/img/My project (47).png");
        width: 99px;
        height: 54px;
        background-size: cover;
        background-position: center;
        top: 263px;
        left: 163px;
    }
}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px){
    main > section:nth-child(4) {
        background-color: #2F3542;
        height: 393px;
        width: 98.9vw;
        top: -17px;
    }

    main > section:nth-child(4) > section:nth-child(1) > h1 {
        top: -10px;
        left: 143px;
        font-size: 20px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(1) {
        font-size: 13px;
        top: 59px;
        left: 86px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(2) {
        font-size: 13px;
        top: 70px;
        left: 59px;
        width: 131px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(3) {
        font-size: 13px;
        top: 114px;
        left: 59px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) {
        background-image: url("../../assets/img/Ellipse 5.png");
        /* font-size: 25px; */
        width: 25px;
        height: 25px;
        background-size: cover;
        background-position: center;
        top: 28px;
        left: 180px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 2px;
        height: 42px;
        background-size: cover;
        background-position: center;
        top: 51px;
        left: 191px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 14px;
        height: 14px;
        background-size: cover;
        background-position: center;
        top: 91.7px;
        left: 185px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(4) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 9px;
        height: 9px;
        background-size: cover;
        background-position: center;
        top: 94px;
        left: 186.9px;
    }
    /*=================================================================================================*/
    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(5) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 2px;
        height: 80px;
        background-size: cover;
        background-position: center;
        top: 105px;
        left: 191px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(6) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 14px;
        height: 14px;
        background-size: cover;
        background-position: center;
        top: 184px;
        left: 185px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(7) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 9px;
        height: 9px;
        background-size: cover;
        background-position: center;
        top: 186px;
        left: 186.9px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(8) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 2px;
        height: 80px;
        background-size: cover;
        background-position: center;
        top: 198px;
        left: 191px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(9) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 14px;
        height: 14px;
        background-size: cover;
        background-position: center;
        top: 278px;
        left: 185px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(10) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 9px;
        height: 9px;
        background-size: cover;
        background-position: center;
        top: 281px;
        left: 186.9px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(11) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 2px;
        height: 42px;
        background-size: cover;
        background-position: center;
        top: 291px;
        left: 191px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(12) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 9px;
        height: 9px;
        background-size: cover;
        background-position: center;
        top:329px;
        left: 186.9px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Kalutara_Vidyalaya_logo.png");
        /*font-size: 25px;*/
        width: 40px;
        height: 48px;
        background-size: cover;
        background-position: center;
        top: 171px;
        left: 110px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(3) > h3:nth-child(1) {
        position: absolute;
        font-size: 13px;
        top: 250px;
        left: 43px;
        width: 133px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(3) > h3:nth-child(2) {
        position: absolute;
        font-size: 13px;
        top: 293px;
        left: 44px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(1) {
        position: absolute;
        background-image: url("../../assets/img/Rectangle 29.png");
        width: 91px;
        height: 57px;
        background-size: cover;
        background-position: center;
        top: 69px;
        left: 207px;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(2) > h3:nth-child(1) {
        font-size: 13px;
        top: 160px;
        left: 212px;
        color: #FFFFFF;
        width: 148px;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(2) > h3:nth-child(2) {
        font-size: 13px;
        top: 203px;
        left: 211px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(3) {
        background-image: url("../../assets/img/My project (47).png");
        width: 99px;
        height: 54px;
        background-size: cover;
        background-position: center;
        top: 263px;
        left: 188px;
    }
}
@media all and (min-width: 427px) and (max-width: 769px){
    main > section:nth-child(4) {
        background-color: #2F3542;
        height: 525px;
        width: 98.9vw;
        top: -17px;
    }

    main > section:nth-child(4) > section:nth-child(1) > h1 {
        top: -10px;
        left: 313px;
        font-size: 23px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(1) {
        font-size: 15px;
        top: 112px;
        left: 209px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(2) {
        font-size: 15px;
        top: 127px;
        left: 134px;
        width: 200px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(1) > h3:nth-child(3) {
        font-size: 15px;
        top: 158px;
        left: 143px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(1) {
        background-image: url("../../assets/img/Ellipse 5.png");
        /* font-size: 25px; */
        width: 35px;
        height: 35px;
        background-size: cover;
        background-position: center;
        top: 55px;
        left: 364px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        width: 3px;
        height: 55px;
        background-size: cover;
        background-position: center;
        top: 89px;
        left: 380px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(3) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 17px;
        height: 17px;
        background-size: cover;
        background-position: center;
        top: 247.7px;
        left: 373px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(4) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 10px;
        height: 10px;
        background-size: cover;
        background-position: center;
        top: 146px;
        left: 375.9px;
    }
    /*=================================================================================================*/
    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(5) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 3px;
        height: 88px;
        background-size: cover;
        background-position: center;
        top: 160px;
        left: 380px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(6) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 17px;
        height: 17px;
        background-size: cover;
        background-position: center;
        top: 142.7px;
        left: 373px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(7) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 10px;
        height: 10px;
        background-size: cover;
        background-position: center;
        top: 251px;
        left: 375.9px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(8) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 3px;
        height: 88px;
        background-size: cover;
        background-position: center;
        top: 265px;
        left: 380px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(9) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 17px;
        height: 17px;
        background-size: cover;
        background-position: center;
        top: 352px;
        left: 373px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(10) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 10px;
        height: 10px;
        background-size: cover;
        background-position: center;
        top: 355px;
        left: 375.9px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(11) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 3px;
        height: 67px;
        background-size: cover;
        background-position: center;
        top: 368px;
        left: 380px;
    }

    main > section:nth-child(4) > section:nth-child(3) > div:nth-child(12) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 10px;
        height: 10px;
        background-size: cover;
        background-position: center;
        top: 435px;
        left: 376.5px;
    }


    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Kalutara_Vidyalaya_logo.png");
        /*font-size: 25px;*/
        width: 57px;
        height: 75px;
        background-size: cover;
        background-position: center;
        top: 232px;
        left: 275px;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(3) > h3:nth-child(1) {
        position: absolute;
        font-size: 15px;
        top: 329px;
        left: 164px;
        width: 179px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(2) > div:nth-child(3) > h3:nth-child(2) {
        position: absolute;
        font-size: 15px;
        top: 363px;
        left: 163px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(1) {
        position: absolute;
        background-image: url("../../assets/img/Rectangle 29.png");
        width: 100px;
        height: 68px;
        background-size: cover;
        background-position: center;
        top: 115px;
        left: 415px;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(2) > h3:nth-child(1) {
        font-size: 15px;
        top: 227px;
        left: 420px;
        color: #FFFFFF;
        width: 176px;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(2) > h3:nth-child(2) {
        font-size: 15px;
        top: 259px;
        left: 420px;
        color: #FFFFFF;
    }

    main > section:nth-child(4) > aside:nth-child(4) > div:nth-child(3) {
        background-image: url("../../assets/img/My project (47).png");
        width: 130px;
        height: 64px;
        background-size: cover;
        background-position: center;
        top: 334px;
        left: 379px;
    }
}
/*================================== 1024->Laptop ================================== */
@media all and (min-width: 770px) and (max-width: 1025px){
    main>section:nth-child(4)>section:nth-child(1)>h1 {
        position: absolute;
        top: -13px;
        left: 459px;
        font-size: 30px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    main>section:nth-child(4) {
        background-color: #2F3542;
        height: 850px;
        width: 98.9vw;
        top: -60px;
        position: relative;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(1) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 5.png");
        /* font-size: 25px; */
        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;
        top: 68px;
        left: 524px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 3px;
        height: 85px;
        background-size: cover;
        background-position: center;
        top: 117px;
        left: 547px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(3) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 35px;
        height: 35px;
        background-size: cover;
        background-position: center;
        top: 200px;
        left: 531px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(4) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        top: 208px;
        left: 538px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(5) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 3px;
        height: 168px;
        background-size: cover;
        background-position: center;
        top: 233px;
        left: 547px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(6) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 35px;
        height: 35px;
        background-size: cover;
        background-position: center;
        top: 400px;
        left: 531px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(7) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        top: 408px;
        left: 538px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(8) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 3px;
        height: 168px;
        background-size: cover;
        background-position: center;
        top: 433px;
        left: 547px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(9) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 4.png");
        /* font-size: 25px; */
        width: 35px;
        height: 35px;
        background-size: cover;
        background-position: center;
        top: 600px;
        left: 531px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(10) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        top: 608px;
        left: 538px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(11) {
        position: absolute;
        background-image: url("../../assets/img/Line 4.png");
        /* font-size: 25px; */
        width: 3px;
        height: 85px;
        background-size: cover;
        background-position: center;
        top: 633px;
        left: 547px;
    }
    main>section:nth-child(4)>section:nth-child(3)>div:nth-child(12) {
        position: absolute;
        background-image: url("../../assets/img/Ellipse 8.png");
        /* font-size: 25px; */
        width: 20px;
        height: 20px;
        background-size: cover;
        background-position: center;
        top: 716px;
        left: 539px;
    }
    main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(1)>h3:nth-child(2) {
        position: absolute;
        font-size: 25px;
        top: 182px;
        left: 118px;
        color: #FFFFFF;
        width: 360px;
    }
    main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(1)>h3:nth-child(1) {
        position: absolute;
        font-size: 25px;
        top: 160px;
        left: 250px;
        color: #FFFFFF;
    }
    main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(1)>h3:nth-child(3) {
        position: absolute;
        font-size: 25px;
        top: 235px;
        left: 196px;
        color: #FFFFFF;
    }
    main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(2) {
        position: absolute;
        background-image: url("../../assets/img/Kalutara_Vidyalaya_logo.png");
        /* font-size: 25px; */
        width: 87px;
        height: 100px;
        background-size: cover;
        background-position: center;
        top: 371px;
        left: 368px;
    }
    main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(3)>h3:nth-child(1) {
        position: absolute;
        font-size: 25px;
        top: 580px;
        left: 176px;
        color: #FFFFFF;
        width: 350px;
    }
    main>section:nth-child(4)>aside:nth-child(2)>div:nth-child(3)>h3:nth-child(2) {
        position: absolute;
        font-size: 25px;
        top: 629px;
        left: 241px;
        color: #FFFFFF;
    }
    main>section:nth-child(4)>aside:nth-child(4)>div:nth-child(1) {
        position: absolute;
        background-image: url("../../assets/img/Rectangle 29.png");
        /* font-size: 25px; */
        width: 160px;
        height: 100px;
        background-size: cover;
        background-position: center;
        top: 169px;
        left: 630px;
    }
    main>section:nth-child(4)>aside:nth-child(4)>div:nth-child(2)>h3:nth-child(1) {
        position: absolute;
        font-size: 25px;
        top: 367px;
        left: 644px;
        color: #FFFFFF;
        width: 300px;
    }
    main>section:nth-child(4)>aside:nth-child(4)>div:nth-child(2)>h3:nth-child(2) {
        position: absolute;
        font-size: 25px;
        top: 418px;
        left: 645px;
        color: #FFFFFF;
    }
    main>section:nth-child(4)>aside:nth-child(4)>div:nth-child(3) {
        position: absolute;
        background-image: url("../../assets/img/My project (47).png");
        /* font-size: 25px; */
        width: 206px;
        height: 100px;
        background-size: cover;
        background-position: center;
        top: 579px;
        left: 585px;
    }
}
