footer{
    background-color: #2F3542;
    height: 218px;
    width:98.9vw ;
    top: -170px;
    position: relative;
}
footer>section:nth-child(1){
    position: absolute;
    top: 16px;
    left: 568px;
    /*height: 107px;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
footer>section:nth-child(1)>img{
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
footer>section:nth-child(1)>img:nth-child(1){
    order: 1;
}
footer>section:nth-child(1)>img:nth-child(2){
    order: 2;
}
footer>section:nth-child(1)>img:nth-child(3){
    order: 3;
}
footer>section:nth-child(1)>img:nth-child(4){
   order: 4;
}
footer>div:nth-child(2){
    position: absolute;
    width: 65px;
    height: 65px;
    top: 44px;
    left: 574px;
    background-size: cover;
    background-position: center;
    background-color: #1E272E;
    border-radius: 100%;
    z-index: 1;
}
footer>div:nth-child(3){
    position: absolute;
    width: 65px;
    height: 65px;
    top: 44px;
    left: 652px;
    background-size: cover;
    background-position: center;
    background-color: #1E272E;
    border-radius: 100%;
    z-index: 1;
}
footer>div:nth-child(4){
    position: absolute;
    width: 65px;
    height: 65px;
    top: 44px;
    left: 730px;
    background-size: cover;
    background-position: center;
    background-color: #1E272E;
    border-radius: 100%;
    z-index: 1;
}
footer>div:nth-child(5){
    position: absolute;
    width: 65px;
    height: 65px;
    top: 44px;
    left: 808px;
    background-size: cover;
    background-position: center;
    background-color: #1E272E;
    border-radius: 100%;
    z-index: 1;
}
footer>address>small:nth-child(1){
    position: absolute;
    top: 121px;
    left: 328px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: white;
}
footer>address>small:nth-child(2){
    position: absolute;
    top: 121px;
    left: 527px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
footer>address>small:nth-child(3){
    position: absolute;
    top: 121px;
    left: 694px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: white;
}
/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px) {
    footer{
        background-color: #2F3542;
        height: 118px;
        width:320px;
        top: -17px;
        position: relative;
    }
    footer>section:nth-child(1){
        top: 29px;
        left: 83px;
        /* height: 107px; */
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 151px;
    }
    footer>section:nth-child(1)>img{
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: center;
        z-index: 2;
    }
    footer>section:nth-child(1)>img:nth-child(1){
        order: 1;
    }
    footer>section:nth-child(1)>img:nth-child(2){
        order: 2;
    }
    footer>section:nth-child(1)>img:nth-child(3){
        order: 3;
    }
    footer>section:nth-child(1)>img:nth-child(4){
        order: 4;
    }
    footer>div:nth-child(2){
        width: 35px;
        height: 35px;
        top: 43px;
        left: 85px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>div:nth-child(3){
        position: absolute;
        width: 35px;
        height: 35px;
        top: 43px;
        left: 124px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>div:nth-child(4){
        position: absolute;
        width: 35px;
        height: 35px;
        top: 43px;
        left: 162px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>div:nth-child(5){
        position: absolute;
        width: 35px;
        height: 35px;
        top: 43px;
        left: 201px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>address>small:nth-child(1){
        position: absolute;
        top: 97px;
        left: 3px;
        font-size: 12px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: white;
    }
    footer>address>small:nth-child(2){
        position: absolute;
        top: 97px;
        left: 77px;
        font-size: 12px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    footer>address>small:nth-child(3){
        position: absolute;
        top: 97px;
        left: 140px;
        font-size: 12px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: white;
    }

}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 376px){
    footer{
        background-color: #2F3542;
        height: 118px;
        width:98.9vw;
        top: -17px;
        position: relative;
    }
    footer>section:nth-child(1){
        top: 29px;
        left: 94px;
        /* height: 107px; */
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 151px;
    }
    footer>section:nth-child(1)>img{
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: center;
        z-index: 2;
    }
    footer>section:nth-child(1)>img:nth-child(1){
        order: 1;
    }
    footer>section:nth-child(1)>img:nth-child(2){
        order: 2;
    }
    footer>section:nth-child(1)>img:nth-child(3){
        order: 3;
    }
    footer>section:nth-child(1)>img:nth-child(4){
        order: 4;
    }
    footer>div:nth-child(2){
        width: 35px;
        height: 35px;
        top: 43px;
        left: 96px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>div:nth-child(3){
        position: absolute;
        width: 35px;
        height: 35px;
        top: 43px;
        left: 135px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>div:nth-child(4){
        position: absolute;
        width: 35px;
        height: 35px;
        top: 43px;
        left: 175px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>div:nth-child(5){
        position: absolute;
        width: 35px;
        height: 35px;
        top: 43px;
        left: 214px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>address>small:nth-child(1){
        position: absolute;
        top: 97px;
        left: 23px;
        font-size: 12px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: white;
    }
    footer>address>small:nth-child(2){
        position: absolute;
        top: 97px;
        left: 98px;
        font-size: 12px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    footer>address>small:nth-child(3){
        position: absolute;
        top: 97px;
        left: 163px;
        font-size: 12px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: white;
    }
}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px){
    footer{
        background-color: #2F3542;
        height: 118px;
        width:98.9vw;
        top: -17px;
        position: relative;
    }
    footer>section:nth-child(1){
        top: 29px;
        left: 121px;
        /* height: 107px; */
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 151px;
    }
    footer>section:nth-child(1)>img{
        width: 60px;
        height: 60px;
        background-size: cover;
        background-position: center;
        z-index: 2;
    }
    footer>section:nth-child(1)>img:nth-child(1){
        order: 1;
    }
    footer>section:nth-child(1)>img:nth-child(2){
        order: 2;
    }
    footer>section:nth-child(1)>img:nth-child(3){
        order: 3;
    }
    footer>section:nth-child(1)>img:nth-child(4){
        order: 4;
    }
    footer>div:nth-child(2){
        width: 35px;
        height: 35px;
        top: 43px;
        left: 122px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>div:nth-child(3){
        position: absolute;
        width: 35px;
        height: 35px;
        top: 43px;
        left: 162px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>div:nth-child(4){
        position: absolute;
        width: 35px;
        height: 35px;
        top: 43px;
        left: 200px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>div:nth-child(5){
        position: absolute;
        width: 35px;
        height: 35px;
        top: 43px;
        left: 240px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }
    footer>address>small:nth-child(1){
        position: absolute;
        top: 97px;
        left: 16px;
        font-size: 14px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: white;
    }
    footer>address>small:nth-child(2){
        position: absolute;
        top: 97px;
        left: 102px;
        font-size: 14px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    footer>address>small:nth-child(3){
        position: absolute;
        top: 97px;
        left: 176px;
        font-size: 14px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: white;
    }
}
@media all and (min-width: 427px) and (max-width: 769px) {
    footer {
        background-color: #2F3542;
        height: 118px;
        width: 98.9vw;
        top: -17px;
        position: relative;
    }

    footer > section:nth-child(1) {
        top: 9px;
        left: 279px;
        /* height: 107px; */
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 151px;
    }

    footer > section:nth-child(1) > img {
        width: 84px;
        height: 84px;
        background-size: cover;
        background-position: center;
        z-index: 2;
    }

    footer > section:nth-child(1) > img:nth-child(1) {
        order: 1;
    }

    footer > section:nth-child(1) > img:nth-child(2) {
        order: 2;
    }

    footer > section:nth-child(1) > img:nth-child(3) {
        order: 3;
    }

    footer > section:nth-child(1) > img:nth-child(4) {
        order: 4;
    }

    footer > div:nth-child(2) {
        width: 44px;
        height: 44px;
        top: 30px;
        left: 284px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }

    footer > div:nth-child(3) {
        position: absolute;
        width: 44px;
        height: 44px;
        top: 30px;
        left: 338px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }

    footer > div:nth-child(4) {
        position: absolute;
        width: 44px;
        height: 44px;
        top: 30px;
        left: 393px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }

    footer > div:nth-child(5) {
        position: absolute;
        width: 44px;
        height: 44px;
        top: 30px;
        left: 448px;
        background-size: cover;
        background-position: center;
        background-color: #1E272E;
        border-radius: 100%;
        z-index: 1;
    }

    footer > address > small:nth-child(1) {
        position: absolute;
        top: 90px;
        left: 106px;
        font-size: 20px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: white;
    }

    footer > address > small:nth-child(2) {
        position: absolute;
        top: 90px;
        left: 240px;
        font-size: 20px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;

    }

    footer > address > small:nth-child(3) {
        position: absolute;
        top: 90px;
        left: 351px;
        font-size: 20px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: white;
    }
}
    /*================================== 1024->Laptop ================================== */
    @media all and (min-width: 770px) and (max-width: 1025px){
        footer {
            background-color: #2F3542;
            height: 218px;
            width: 98.9vw;
            top: -127px;
            position: relative;
        }
        footer>section:nth-child(1) {
            position: absolute;
            top: 16px;
            left: 396px;
            height: 119px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            width: 280px;
        }
        footer>div:nth-child(2) {
            position: absolute;
            width: 65px;
            height: 65px;
            top: 44px;
            left: 402px;
            background-size: cover;
            background-position: center;
            background-color: #1E272E;
            border-radius: 100%;
            z-index: 1;
        }
        footer>div:nth-child(3) {
            position: absolute;
            width: 65px;
            height: 65px;
            top: 44px;
            left: 480px;
            background-size: cover;
            background-position: center;
            background-color: #1E272E;
            border-radius: 100%;
            z-index: 1;
        }
        footer>div:nth-child(4) {
            position: absolute;
            width: 65px;
            height: 65px;
            top: 44px;
            left: 557px;
            background-size: cover;
            background-position: center;
            background-color: #1E272E;
            border-radius: 100%;
            z-index: 1;
        }
        footer>div:nth-child(5) {
            position: absolute;
            width: 65px;
            height: 65px;
            top: 44px;
            left: 635px;
            background-size: cover;
            background-position: center;
            background-color: #1E272E;
            border-radius: 100%;
            z-index: 1;
        }
        footer>address>small:nth-child(1) {
            position: absolute;
            top: 121px;
            left: 113px;
            font-size: 30px;
            font-family: 'Poppins', Inter;
            font-weight: bold;
            color: white;
        }
        footer>address>small:nth-child(2) {
            position: absolute;
            top: 121px;
            left: 309px;
            font-size: 30px;
            font-family: 'Poppins', Inter;
            font-weight: bold;
            color: #00D2D3;
        }
        footer>address>small:nth-child(3) {
            position: absolute;
            top: 121px;
            left: 480px;
            font-size: 30px;
            font-family: 'Poppins', Inter;
            font-weight: bold;
            color: white;
        }

    }
