footer{
    background-color: #2F3542;
    height: 218px;
    width:98.9vw ;
    top: -170px;
    position: relative;
}
footer>section:nth-child(1){
    position: absolute;
    top: 16px;
    left: 568px;
    /*height: 107px;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}
footer>section:nth-child(1)>img{
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    z-index: 2;
}
footer>section:nth-child(1)>img:nth-child(1){
    order: 1;
}
footer>section:nth-child(1)>img:nth-child(2){
    order: 2;
}
footer>section:nth-child(1)>img:nth-child(3){
    order: 3;
}
footer>section:nth-child(1)>img:nth-child(4){
   order: 4;
}
footer>div:nth-child(2){
    position: absolute;
    width: 65px;
    height: 65px;
    top: 44px;
    left: 574px;
    background-size: cover;
    background-position: center;
    background-color: #1E272E;
    border-radius: 100%;
    z-index: 1;
}
footer>div:nth-child(3){
    position: absolute;
    width: 65px;
    height: 65px;
    top: 44px;
    left: 652px;
    background-size: cover;
    background-position: center;
    background-color: #1E272E;
    border-radius: 100%;
    z-index: 1;
}
footer>div:nth-child(4){
    position: absolute;
    width: 65px;
    height: 65px;
    top: 44px;
    left: 730px;
    background-size: cover;
    background-position: center;
    background-color: #1E272E;
    border-radius: 100%;
    z-index: 1;
}
footer>div:nth-child(5){
    position: absolute;
    width: 65px;
    height: 65px;
    top: 44px;
    left: 808px;
    background-size: cover;
    background-position: center;
    background-color: #1E272E;
    border-radius: 100%;
    z-index: 1;
}
footer>address>small:nth-child(1){
    position: absolute;
    top: 121px;
    left: 328px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: white;
}
footer>address>small:nth-child(2){
    position: absolute;
    top: 121px;
    left: 527px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
footer>address>small:nth-child(3){
    position: absolute;
    top: 121px;
    left: 694px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: white;
}