
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
    margin: 0;
    height: 100vh;
}
main{
    position: relative;
}
header{
    height: 550px;
    width:98.9vw ;
    position: relative;
}
header>section>section:nth-child(2){
    background-image:url("../img/business-concept-young-business-man-woking-financial-plan-strategy-analysis.jpg");
    position: relative;
    width: 98.9vw;
    height: 550px;
    background-position: center;
    background-size: cover;
    z-index: 1;
}
header>section>section:nth-child(2)>div:nth-child(1){
    position: absolute;
    background-color: #00D2D3;
    opacity: 0.8;
    width:  98.9vw;
    height: 550px;
    margin: auto;
    z-index: 2;
}
/*top bar*/
header>section>section:nth-child(1){
    background: #00cec9;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    position: fixed;
    width:  98.9vw;
    top: 0;
    height: 73px;
    z-index: 3;
    opacity: 0.8;
    }
header>section>section:nth-child(1)>nav{
    position: absolute;
    right: 40px;
    top: 0;
}
header >section>section> nav > ul > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins',Inter;
    color: white;
    font-size: 17px;
    /*border-right: 2px solid rgba(46, 41, 41, 0.58);*/

}
header >section>section> nav > ul > li:hover {
    color: #24327f;
}
/*icons */
header>section>section:nth-child(2)>section:nth-child(2){
    position: absolute;
    z-index: 3;
    top: 102px;
    left: 30px;
    display: inline-block;

}
header>section>section:nth-child(2)>section:nth-child(2)>img {
    width: 40px;
    height: 40px;
}
/*hello im nimesh*/
header>section>section:nth-child(2)>section:nth-child(3)>div>h1:nth-child(1){
    position: absolute;
    z-index: 3;
    top: 200px;
    left: 30px;
    font-size: 60px;
    color: white;
    font-family: 'Inter', sans-serif;
    /*font-family: 'Poppins', Inter;*/
}
header>section>section:nth-child(2)>section:nth-child(3)>div>h1:nth-child(2){
    position: absolute;
    z-index: 3;
    top: 290px;
    left: 30px;
    font-size: 50px;
    color: white;
    font-family: 'Inter', sans-serif;
    /*font-family: 'Poppins', Inter;*/
}
header>section>section:nth-child(2)>section:nth-child(3)>div>h1:nth-child(3){
    position: absolute;
    z-index: 3;
    top: 290px;
    left: 120px;
    font-size: 50px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: white;
}
header>section>section:nth-child(2)>section:nth-child(3)>div>h3:nth-child(4){
    position: absolute;
    z-index: 3;
    top: 350px;
    left: 30px;
    font-size: 30px;
    color: white;
    font-family: 'Inter', sans-serif;
}
/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px){
    header{
        height: 170px;
        /*width:320px ;*/
        width: 98.9vw;
    }
    header>section>section:nth-child(2){
        background-image:url("../img/business-concept-young-business-man-woking-financial-plan-strategy-analysis.jpg");
        width: 320px;
        height: 170px;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
    header>section>section:nth-child(2)>div:nth-child(1){
        opacity: 0.8;
        width:  320px;
        height: 170px;
        margin: auto;
        z-index: 2;
    }
    header>section>section:nth-child(1){
        background: #00cec9;
        box-shadow: 0px -1px 8px 2px #1c1717e8;
        position: fixed;
        width:  320px;
        top: 0;
        height: 30px;
        z-index: 3;
        opacity: 0.8;
    }

    header>section>section:nth-child(1)>nav{
        top: -13px;
        right: 0;
        left: -39px;
        height: 30px;
        width: 320px;
    }
    header >section>section> nav > ul > li {

        padding: 1px;
        font-size: 8px;

    }
    header>section>section>nav>ul{
        width: 320px;
    }
    /*icons */
    header>section>section:nth-child(2)>section:nth-child(2){
        position: absolute;
        z-index: 3;
        top: 37px;
        left: 20px;
        display: inline-block;

    }
    header>section>section:nth-child(2)>section:nth-child(2)>img {
        width: 15px;
        height: 15px;
    }
    /*hello im nimesh*/
    header>section>section:nth-child(2)>section:nth-child(3)>div>h1:nth-child(1){
        top: 73px;
        left: 22px;
        font-size: 20px;
    }

    header>section>section:nth-child(2)>section:nth-child(3)>div>h1:nth-child(2){
        z-index: 3;
        top: 109px;
        left: 22px;
        font-size: 16px;
        color: white;
        /*font-family: 'Poppins', Inter;*/
    }

    header>section>section:nth-child(2)>section:nth-child(3)>div>h1:nth-child(3){
        z-index: 3;
        top: 109px;
        left: 51px;
        font-size: 16px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: bold;*/
        color: white;
    }
    /*----------------------------------------*/
    header>section>section:nth-child(2)>section:nth-child(3)>div>h3:nth-child(4){
        z-index: 3;
        top: 123px;
        left: 22px;
        font-size: 12px;
        color: white;
    }
    .box {
        position: absolute;
        top: 15px;
        left: -38px;
        width: 320px;
        height: 8rem;
        overflow: hidden;
    }

}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 376px){
    header {
        height: 170px;
        width: 98.9vw;
    }

    header > section > section:nth-child(2) {
        background-image: url("../img/business-concept-young-business-man-woking-financial-plan-strategy-analysis.jpg");
        width: 98.9vw;
        height: 170px;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }

    header > section > section:nth-child(2) > div:nth-child(1) {
        opacity: 0.8;
        width: 98.9vw;
        height: 170px;
        margin: auto;
        z-index: 2;
    }

    header > section > section:nth-child(1) {
        background: #00cec9;
        box-shadow: 0px -1px 8px 2px #1c1717e8;
        position: fixed;
        width: 98.9vw;
        top: 0;
        height: 30px;
        z-index: 3;
        opacity: 0.8;
    }

    header > section > section:nth-child(1) > nav {
        top: -13px;
        right: 0;
        left: -39px;
        height: 30px;
        width: 375px;
    }

    header > section > section > nav > ul > li {

        padding: 2px;
        font-size: 9px;

    }

    header > section > section > nav > ul {
        width: 375px;
    }

    /*icons */
    header > section > section:nth-child(2) > section:nth-child(2) {
        position: absolute;
        z-index: 3;
        top: 37px;
        left: 20px;
        display: inline-block;

    }

    header > section > section:nth-child(2) > section:nth-child(2) > img {
        width: 15px;
        height: 15px;
    }

    /*hello im nimesh*/
    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(1) {
        top: 73px;
        left: 22px;
        font-size: 25px;
    }

    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(2) {
        z-index: 3;
        top: 109px;
        left: 22px;
        font-size: 20px;
        color: white;
        /*font-family: 'Poppins', Inter;*/
    }

    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(3) {
        z-index: 3;
        top: 109px;
        left: 57px;
        font-size: 20px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: bold;*/
        color: white;
    }

    /*----------------------------------------*/
    header > section > section:nth-child(2) > section:nth-child(3) > div > h3:nth-child(4) {
        z-index: 3;
        top: 123px;
        left: 22px;
        font-size: 15px;
        color: white;
    }
}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px){
    header {
        height: 200px;
        width: 98.9vw;
    }

    header > section > section:nth-child(2) {
        background-image: url("../img/business-concept-young-business-man-woking-financial-plan-strategy-analysis.jpg");
        width: 98.9vw;
        height: 200px;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
    header > section > section:nth-child(2) > div:nth-child(1) {
        opacity: 0.8;
        width: 98.9vw;
        height: 200px;
        margin: auto;
        z-index: 2;
    }

    header > section > section:nth-child(1) {
        background: #00cec9;
        box-shadow: 0px -1px 8px 2px #1c1717e8;
        position: fixed;
        width: 98.9vw;
        top: 0;
        height: 30px;
        z-index: 3;
        opacity: 0.8;
    }

    header > section > section:nth-child(1) > nav {
        top: -13px;
        right: 0;
        left: -39px;
        height: 30px;
        width: 98.9vw;
    }

    header > section > section > nav > ul > li {

        padding: 2px;
        font-size: 10px;

    }

    header > section > section > nav > ul {
        width: 98.9vw;
    }

    /*icons */
    header > section > section:nth-child(2) > section:nth-child(2) {
        position: absolute;
        z-index: 3;
        top: 37px;
        left: 20px;
        display: inline-block;

    }

    header > section > section:nth-child(2) > section:nth-child(2) > img {
        width: 25px;
        height: 25px;
    }

    /*hello im nimesh*/
    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(1) {
        top: 73px;
        left: 22px;
        font-size: 30px;
    }

    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(2) {
        z-index: 3;
        top: 109px;
        left: 22px;
        font-size: 25px;
        color: white;
        /*font-family: 'Poppins', Inter;*/
    }

    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(3) {
        z-index: 3;
        top: 109px;
        left: 62px;
        font-size: 25px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: bold;*/
        color: white;
    }

    /*----------------------------------------*/
    header > section > section:nth-child(2) > section:nth-child(3) > div > h3:nth-child(4) {
        z-index: 3;
        top: 129px;
        left: 22px;
        font-size: 20px;
        color: white;
    }

}
/*================================== 768->Tablet ================================== */
@media all and (min-width: 427px) and (max-width: 769px){
    header {
        height: 250px;
        width: 98.9vw;
    }

    header > section > section:nth-child(2) {
        background-image: url("../img/business-concept-young-business-man-woking-financial-plan-strategy-analysis.jpg");
        width: 98.9vw;
        height: 250px;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
    header > section > section:nth-child(2) > div:nth-child(1) {
        opacity: 0.8;
        width: 98.9vw;
        height: 250px;
        margin: auto;
        z-index: 2;
    }

    header > section > section:nth-child(1) {
        background: #00cec9;
        box-shadow: 0px -1px 8px 2px #1c1717e8;
        position: fixed;
        width: 98.9vw;
        top: 0;
        height: 45px;
        z-index: 3;
        opacity: 0.8;
    }

    header > section > section:nth-child(1) > nav {
        top: -5px;
        right: 0;
        left: 169px;
        height: 30px;
        width: 98.9vw;
    }

    header > section > section > nav > ul > li {

        padding: 2px;
        font-size: 14px;

    }

    header > section > section > nav > ul {
        width: 98.9vw;
    }

    /*icons */
    header > section > section:nth-child(2) > section:nth-child(2) {
        position: absolute;
        z-index: 3;
        top: 58px;
        left: 20px;
        display: inline-block;

    }

    header > section > section:nth-child(2) > section:nth-child(2) > img {
        width: 30px;
        height: 30px;
    }

    /*hello im nimesh*/
    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(1) {
        top: 111px;
        left: 22px;
        font-size: 35px;
    }

    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(2) {
        z-index: 3;
        top: 146px;
        left: 22px;
        font-size: 30px;
        color: white;
        /*font-family: 'Poppins', Inter;*/
    }

    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(3) {
        z-index: 3;
        top: 146px;
        left: 72px;
        font-size: 30px;
        /*font-family: 'Poppins', Inter;*/
        /*font-weight: bold;*/
        color: white;
    }

    /*----------------------------------------*/
    header > section > section:nth-child(2) > section:nth-child(3) > div > h3:nth-child(4) {
        z-index: 3;
        top: 174px;
        left: 22px;
        font-size: 20px;
        color: white;
    }
}
/*================================== 1024->Laptop ================================== */
@media all and (min-width: 770px) and (max-width: 1025px){
    header {
        height: 350px;
        width: 98.9vw;
    }

    header > section > section:nth-child(2) {
        background-image: url("../img/business-concept-young-business-man-woking-financial-plan-strategy-analysis.jpg");
        width: 98.9vw;
        height: 350px;
        background-position: center;
        background-size: cover;
        z-index: 1;
    }
    header > section > section:nth-child(2) > div:nth-child(1) {
        opacity: 0.8;
        width: 98.9vw;
        height: 350px;
        margin: auto;
        z-index: 2;
    }

    header > section > section:nth-child(1) {
        background: #00cec9;
        box-shadow: 0px -1px 8px 2px #1c1717e8;
        position: fixed;
        width: 98.9vw;
        top: 0;
        height: 45px;
        z-index: 3;
        opacity: 0.8;
    }

    header > section > section:nth-child(1) > nav {
        top: -5px;
        right: 0;
        left: 337px;
        height: 30px;
        width: 54.900000000000006vw;
    }

    header > section > section > nav > ul > li {

        padding: 2px;
        font-size: 16px;

    }

    header > section > section > nav > ul {
       width:  59.900000000000006vw;
    }

    /*icons */
    header > section > section:nth-child(2) > section:nth-child(2) {
        position: absolute;
        z-index: 3;
        top: 58px;
        left: 20px;
        display: inline-block;

    }

    header > section > section:nth-child(2) > section:nth-child(2) > img {
        width: 40px;
        height: 40px;
    }

    /*hello im nimesh*/
    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(1) {
        top: 141px;
        left: 22px;
        font-size: 40px;
    }

    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(2) {
        z-index: 3;
        top: 202px;
        left: 22px;
        font-size: 35px;
        color: white;
    }

    header > section > section:nth-child(2) > section:nth-child(3) > div > h1:nth-child(3) {
        z-index: 3;
        top: 203px;
        left: 82px;
        font-size: 35px;
        /* font-family: 'Poppins', Inter; */
        /* font-weight: bold; */
        color: white;
    }

    /*----------------------------------------*/
    header > section > section:nth-child(2) > section:nth-child(3) > div > h3:nth-child(4) {
        z-index: 3;
        top: 234px;
        left: 22px;
        font-size: 24px;
        color: white;
    }
    }
.classic-5 {
    font-weight: bold;
    font-family: monospace;
    font-size: 40px;
    clip-path: inset(0 100% 0 0);
    animation:c5 5s steps(20) infinite;
}
@keyframes c5 {to{clip-path: inset(0 -1ch 0 0)}}
.box{
    position: absolute;
    top: 0;
    left: -40px;
    width:98.9vw ;
    height: 30rem;
    overflow: hidden;
}

.box li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid darkblue;
    animation: animate 20s linear infinite;
    bottom: -150px;
    border-radius: 10%;
}

.box li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.box li:nth-child(4){
    left: 45%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.box li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}


@keyframes animate {
    0%{
        transform: translateY(0) scale(0) rotate(0deg);

    }
    100%{
        transform: translateY(-800px) scale(2) rotate(360deg);
        /*opacity: 0;*/
    }
}
