main>section:nth-child(5){
    background-color:#1E272E;
    height: 300px;
    width:98.9vw ;
    top: -104px;
    position: relative;
}
main>section:nth-child(5)>section:nth-child(1)>h1{
    position: absolute;
    top: -12px;
    left: 640px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
main>section:nth-child(5)>section:nth-child(2){
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 941px;
    left: 258px;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(1){
    height: 130px;
    width: 353px;
    background-image: url("../../assets/img/My project (49).png");
    background-size: cover;
    background-position: center;
    order: 1;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(2){
    height: 130px;
    width: 260px;
    background-image: url("../../assets/img/My project (50).png");
    background-size: cover;
    background-position: center;
    order: 2;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(3){
    height: 130px;
    width: 260px;
    background-image: url("../../assets/img/My project (51).png");
    background-size: cover;
    background-position: center;
    order: 3;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(4){
    height: 130px;
    width: 260px;
    background-image: url("../../assets/img/My project (52).png");
    background-size: cover;
    background-position: center;
    order: 4;
}
main>section:nth-child(5)>section:nth-child(2)>div:nth-child(5){
    height: 130px;
    width: 260px;
    background-image: url("../../assets/img/My project (53).png");
    background-size: cover;
    background-position: center;
    order: 5;
}
/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px) {
    main>section:nth-child(5){
        background-color:#1E272E;
        height: 100px;
        width:320px ;
        top: -17px;
        position: relative;
    }
    main>section:nth-child(5)>section:nth-child(1)>h1{
        top: -5px;
        left: 120px;
        font-size: 13px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    main>section:nth-child(5)>section:nth-child(2){
        height: 97px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        left: 30px;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(1){
        height: 50px;
        width: 91px;
        background-image: url("../../assets/img/My project (49).png");
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(2){
        height: 50px;
        width: 70px;
        background-image: url("../../assets/img/My project (50).png");
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(3){
        height: 50px;
        width: 70px;
        background-image: url("../../assets/img/My project (51).png");
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(4){
        height: 50px;
        width: 70px;
        background-image: url("../../assets/img/My project (52).png");
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(5){
        height: 50px;
        width: 70px;
        background-image: url("../../assets/img/My project (53).png");
        background-size: cover;
        background-position: center;
        order: 5;
    }
}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 376px){
    main>section:nth-child(5){
        background-color:#1E272E;
        height: 100px;
        width:98.9vw ;
        top: -17px;
        position: relative;
    }
    main>section:nth-child(5)>section:nth-child(1)>h1{
        top: -5px;
        left: 120px;
        font-size: 18px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    main>section:nth-child(5)>section:nth-child(2){
        height: 111px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        left: 9px;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(1){
        height: 60px;
        width: 91px;
        background-image: url("../../assets/img/My project (49).png");
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(2){
        height: 60px;
        width: 80px;
        background-image: url("../../assets/img/My project (50).png");
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(3){
        height: 60px;
        width: 80px;
        background-image: url("../../assets/img/My project (51).png");
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(4){
        height: 60px;
        width: 80px;
        background-image: url("../../assets/img/My project (52).png");
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(5){
        height: 60px;
        width: 80px;
        background-image: url("../../assets/img/My project (53).png");
        background-size: cover;
        background-position: center;
        order: 5;
    }
}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px){
    main>section:nth-child(5){
        background-color:#1E272E;
        height: 100px;
        width:98.9vw ;
        top: -17px;
        position: relative;
    }
    main>section:nth-child(5)>section:nth-child(1)>h1{
        top: -5px;
        left: 120px;
        font-size: 18px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    main>section:nth-child(5)>section:nth-child(2){
        height: 111px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 320px;
        left: 9px;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(1){
        height: 60px;
        width: 91px;
        background-image: url("../../assets/img/My project (49).png");
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(2){
        height: 60px;
        width: 80px;
        background-image: url("../../assets/img/My project (50).png");
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(3){
        height: 60px;
        width: 80px;
        background-image: url("../../assets/img/My project (51).png");
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(4){
        height: 60px;
        width: 80px;
        background-image: url("../../assets/img/My project (52).png");
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(5)>section:nth-child(2)>div:nth-child(5){
        height: 60px;
        width: 80px;
        background-image: url("../../assets/img/My project (53).png");
        background-size: cover;
        background-position: center;
        order: 5;
    }
}

