main>section:nth-child(6){
    background-color: #2F3542;
    height: 650px;
    width:98.9vw ;
    top: -126px;
    position: relative;
}
main>section:nth-child(6)>section:nth-child(1)>h1{
    position: absolute;
    top: -11px;
    left: 640px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
main>section:nth-child(6)>section:nth-child(1)>h3{
    position: absolute;
    top: 60px;
    left: 239px;
    font-size: 20px;
    color: white;
}
main>section:nth-child(6)>section:nth-child(2)>div:nth-child(1){
    position: absolute;
    background-image: url("../../assets/img/Ellipse 5.png");
    /*font-size: 25px;*/
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    top: 68px;
    left: 200px;
}