@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body{
    margin: 0;
    height: 100vh;
}
header{
    height: 73px;
    width:98.9vw ;
    position: relative;
}
header>section>section:nth-child(1){
    background: #00cec9;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    position: fixed;
    width:  98.9vw;
    top: 0;
    height: 73px;
    z-index: 3;
    opacity: 0.8;
}
header>section>section:nth-child(1)>nav{
    position: absolute;
    right: 40px;
    top: 0;
}
header >section>section> nav > ul > li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins',Inter;
    color: white;
    font-size: 17px;
    /*border-right: 2px solid rgba(46, 41, 41, 0.58);*/

}
header >section>section> nav > ul > li:hover {
    color: #24327f;
}

main>section{
    position: relative;
    width: 98.9vw;
    height: 1980px;
    background-color: #2F3542;
    top: -21px;
}
main>section>section:nth-child(1)>h1{
    color: #00D2D3;
}
main>section>section:nth-child(2){
    position: absolute;
    width: 55.9vw;
    height: 1800px;
    display: flex;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: flex-start;
}
main>section>section:nth-child(2)>div:nth-child(1){
    background: url("../../assets/img/parking system.png");
    background-size: cover;
    background-position: center;
    /*box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);*/
    border:10px solid darkblue;
    width: 400px;
    height: 280px;
}
main>section>section:nth-child(2)>div:nth-child(1):hover{
     border:10px solid skyblue;
    transition-duration: 1.3s;
    box-shadow: 0px -1px 8px 2px mediumslateblue;
}

main>section>section:nth-child(2)>div:nth-child(2){
    background: url("../../assets/img/Screenshot 2022-10-04 232748.png");
    background-size: cover;
    background-position: center;
    /*box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);*/
    border: 10px solid darkblue;
    width: 400px;
    height: 280px;
}
main>section>section:nth-child(2)>div:nth-child(2):hover{
    border:10px solid skyblue;
    transition-duration: 1.3s;
    box-shadow: 0px -1px 8px 2px mediumslateblue;
}
main>section>section:nth-child(2)>div:nth-child(3){
    background: url("../../assets/img/Screenshot 2022-10-04 234006.png");
    background-size: cover;
    background-position: center;
    /*box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);*/
    border: 10px solid darkblue;
    width: 400px;
    height: 280px;
}
main>section>section:nth-child(2)>div:nth-child(3):hover{
    border:10px solid skyblue;
    transition-duration: 1.3s;
    box-shadow: 0px -1px 8px 2px mediumslateblue;
}
main>section>section:nth-child(2)>div:nth-child(4){
    background: url("../../assets/img/Screenshot 2022-10-04 235309.png");
    background-size: cover;
    background-position: center;
    /*box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);*/
    border: 10px solid darkblue;
    width: 400px;
    height: 280px;
}
main>section>section:nth-child(2)>div:nth-child(4):hover{
    border:10px solid skyblue;
    transition-duration: 1.3s;
    box-shadow: 0px -1px 8px 2px mediumslateblue;
}
main>section>section:nth-child(2)>div:nth-child(5){
    background: url("../../assets/img/Screenshot 2022-10-05 224323.png");
    background-size: cover;
    background-position: center;
    /*box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);*/
    border: 10px solid darkblue;
    width: 400px;
    height: 280px;
}
main>section>section:nth-child(2)>div:nth-child(5):hover{
    border:10px solid skyblue;
    transition-duration: 1.3s;
    box-shadow: 0px -1px 8px 2px mediumslateblue;
}
main>section>section:nth-child(2)>div:nth-child(6){
    background: url("../../assets/img/Screenshot 2022-10-05 001539.png");
    background-size: cover;
    background-position: center;
    /*box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);*/
    border: 10px solid darkblue;
    width: 400px;
    height: 280px;
}
main>section>section:nth-child(2)>div:nth-child(6):hover{
    border:10px solid skyblue;
    transition-duration: 1.3s;
    box-shadow: 0px -1px 8px 2px mediumslateblue;
}





/*main>section>section:nth-child(3){*/
/*    position: absolute;*/
/*    width: 55.9vw;*/
/*    height: 1800px;*/
/*    display: flex;*/
/*    left: 0;*/
/*    right: 0;*/
/*    top: 60px;*/
/*    margin: auto;*/
/*    gap: 20px;*/
/*    flex-direction: column;*/
/*    flex-wrap: nowrap;*/
/*    align-content: stretch;*/
/*    justify-content: space-evenly;*/
/*    align-items: flex-start;*/
/*}*/
main>section>section:nth-child(3)>div:nth-child(1){
    /*box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);*/
    background-color: #3B3B98;
    width: 400px;
    height: 203px;
    position: absolute;
    left: 793px;
    top: 87px;
    border-radius: 20%;
    box-shadow: 0px -1px 8px 2px lavender ;
}
main>section>section:nth-child(3)>div:nth-child(1)>p{
    color: white;
    width: 340px;
    height: 205px;
    left: 31px;
    top: -11px;
    font-size: 1.2rem;
    position: absolute;
}
main>section>section:nth-child(3)>div:nth-child(1)>p:hover{
    text-shadow: #b6d4fe;
    transition-duration: 1s;
}
main>section>section:nth-child(3)>div:nth-child(2){
    background-color: #3B3B98;
    width: 400px;
    height: 203px;
    position: absolute;
    left: 793px;
    top: 398px;
    border-radius: 20%;
    box-shadow: 0px -1px 8px 2px lavender ;
}
main>section>section:nth-child(3)>div:nth-child(3){
    background-color: #3B3B98;
    width: 400px;
    height: 203px;
    position: absolute;
    left: 793px;
    top: 704px;
    border-radius: 20%;
    box-shadow: 0px -1px 8px 2px lavender ;
}
main>section>section:nth-child(3)>div:nth-child(4){
    background-color: #3B3B98;
    width: 400px;
    height: 203px;
    position: absolute;
    left: 793px;
    top: 1010px;
    border-radius: 20%;
    box-shadow: 0px -1px 8px 2px lavender ;
}
main>section>section:nth-child(3)>div:nth-child(5){
    background-color: #3B3B98;
    width: 400px;
    height: 203px;
    position: absolute;
    left: 793px;
    top: 1316px;
    border-radius: 20%;
    box-shadow: 0px -1px 8px 2px lavender ;
}
main>section>section:nth-child(3)>div:nth-child(6){
    background-color: #3B3B98;
    width: 400px;
    height: 203px;
    position: absolute;
    left: 793px;
    top: 1622px;
    border-radius: 20%;
    box-shadow: 0px -1px 8px 2px lavender ;

}
main>section>section:nth-child(3)>div:hover{
    background-color: #6c5ce7;
    transition-duration: 1s;
}

