main>section:nth-child(7){
    background-color: #1E272E;
    height: 650px;
    width:98.9vw ;
    top: -148px;
    position: relative;
}
main>section:nth-child(7)>section:nth-child(1)>h1{
    position: absolute;
    top: -11px;
    left: 640px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
main>section:nth-child(7)>section:nth-child(1)>h3{
    position: absolute;
    top: -11px;
    left: 640px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}