main>section:nth-child(7){
    background-color: #1E272E;
    height: 650px;
    width:98.9vw ;
    top: -148px;
    position: relative;
}
main>section:nth-child(7)>section:nth-child(1)>h1{
    position: absolute;
    top: -11px;
    left: 640px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
main>section:nth-child(7)>section:nth-child(1)>h3{
    position: absolute;
    top: 60px;
    left: 239px;
    font-size: 20px;
    color: white;
}
main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1){
    position: absolute;
    /*font-size: 25px;*/
    width: 294px;
    height: 327px;
    background-color: #2F3542;
    top: 182px;
    left: 240px;
}
main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(1){
    position: absolute;
    font-size: 25px;
    top: -17px;
    left: 8px;
}
main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(2){
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 12px;
    left: 8px;
    color: #00D2D3;
}
main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>p:nth-child(3){
    position: absolute;
    font-size: 20px;
    width: 235px;
    text-align:left;
    top: 56px;
    left: 11px;
    color: white;
}
main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(1){
    position: absolute;
    font-size: 25px;
    top: -17px;
    left: 8px;
}
main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3){
    position: absolute;
    /*font-size: 25px;*/
    width: 294px;
    height: 327px;
    background-color: #2F3542;
    top: 182px;
    left: 951px;
}
main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(2){
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 12px;
    left: 8px;
    color: #00D2D3;
}
main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>p:nth-child(3){
    position: absolute;
    font-size: 20px;
    width: 235px;
    text-align:left;
    top: 56px;
    left: 11px;
    color: white;
}
main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2){
    position: absolute;
    /*font-size: 25px;*/
    width: 294px;
    height: 369px;
    background-color: #00D2D3;
    top: 155px;
    left: 592px;
}
main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(1){
    position: absolute;
    font-size: 25px;
    top: -17px;
    left: 8px;
}
main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(2){
    position: absolute;
    font-size: 20px;
    text-align: center;
    top: 12px;
    left: 8px;
    color: #2F3542;
}
main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>p:nth-child(3){
    position: absolute;
    font-size: 20px;
    width: 235px;
    text-align:left;
    top: 56px;
    left: 11px;
    color: white;
}
/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px) {
    main>section:nth-child(7){
        background-color: #1E272E;
        height: 786px;
        width: 320px;
        top: -17px;
    }
    main>section:nth-child(7)>section:nth-child(1)>h1{
        top: -5px;
        left: 120px;
        font-size: 13px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(1)>h3{
        top: 20px;
        left: 30px;
        font-size: 10px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1){
        /* font-size: 25px; */
        width: 160px;
        height: 215px;
        background-color: #2F3542;
        top: 69px;
        left: 83px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(1){
        font-size: 13px;
        top: -7px;
        left: 8px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(2){
        font-size: 13px;
        text-align: center;
        top: 10px;
        left: 0px;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>p:nth-child(3){
        position: absolute;
        font-size: 12px;
        width: 146px;
        text-align: left;
        top: 56px;
        left: 19px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(1){
        position: absolute;
        font-size: 13px;
        top: -8px;
        left: 8px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3){
        width: 160px;
        height: 215px;
        background-color: #2F3542;
        top: 516px;
        left: 83px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(2){
        font-size: 13px;
        top: 8px;
        left: 19px;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>p:nth-child(3){
        position: absolute;
        font-size: 12px;
        width: 146px;
        text-align: left;
        top: 56px;
        left: 19px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2){
        position: absolute;
        /*font-size: 25px;*/
        width: 160px;
        height: 215px;
        background-color: #00D2D3;
        top: 292px;
        left: 83px;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(1){
        position: absolute;
        font-size: 13px;
        top: -8px;
        left: 10px;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(2){
        position: absolute;
        font-size: 13px;
        text-align: center;
        top: 12px;
        left: 34px;
        color: #2F3542;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>p:nth-child(3){
        position: absolute;
        font-size: 12px;
        width: 139px;
        text-align: left;
        top: 56px;
        left: 19px;
        color: white;
    }
}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 376px){
    main>section:nth-child(7){
        background-color: #1E272E;
        height: 825px;
        width: 98.9vw;
        top: -17px;
    }
    main>section:nth-child(7)>section:nth-child(1)>h1{
        top: -5px;
        left: 120px;
        font-size: 18px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(1)>h3{
        top: 20px;
        left: 30px;
        font-size: 16px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1){
        /* font-size: 25px; */
        width: 180px;
        height: 230px;
        background-color: #2F3542;
        top: 69px;
        left: 83px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(1){
        font-size: 16px;
        top: -7px;
        left: 8px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(2){
        font-size: 16px;
        text-align: center;
        top: 10px;
        left: 0px;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>p:nth-child(3){
        position: absolute;
        font-size: 14px;
        width: 146px;
        text-align: left;
        top: 53px;
        left: 19px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(1){
        position: absolute;
        font-size: 16px;
        top: -8px;
        left: 8px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3){
        width: 180px;
        height: 230px;
        background-color: #2F3542;
        top: 555px;
        left: 83px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(2){
        font-size: 16px;
        top: 8px;
        left: 19px;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>p:nth-child(3){
        position: absolute;
        font-size: 14px;
        width: 154px;
        text-align: left;
        top: 53px;
        left: 19px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2){
        position: absolute;
        /*font-size: 25px;*/
        width: 180px;
        height: 230px;
        background-color: #00D2D3;
        top: 311px;
        left: 83px;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(1){
        position: absolute;
        font-size: 16px;
        top: -8px;
        left: 10px;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(2){
        position: absolute;
        font-size: 16px;
        text-align: center;
        top: 12px;
        left: 34px;
        color: #2F3542;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>p:nth-child(3){
        position: absolute;
        font-size: 14px;
        width: 139px;
        text-align: left;
        top: 56px;
        left: 19px;
        color: white;
    }
}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px){
    main>section:nth-child(7){
        background-color: #1E272E;
        height: 825px;
        width: 98.9vw;
        top: -17px;
    }
    main>section:nth-child(7)>section:nth-child(1)>h1{
        top: -5px;
        left: 120px;
        font-size: 18px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(1)>h3{
        top: 20px;
        left: 30px;
        font-size: 16px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1){
        /* font-size: 25px; */
        width: 180px;
        height: 230px;
        background-color: #2F3542;
        top: 69px;
        left: 95px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(1){
        font-size: 16px;
        top: -7px;
        left: 8px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(2){
        font-size: 16px;
        text-align: center;
        top: 10px;
        left: 0px;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>p:nth-child(3){
        position: absolute;
        font-size: 14px;
        width: 146px;
        text-align: left;
        top: 53px;
        left: 19px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(1){
        position: absolute;
        font-size: 16px;
        top: -8px;
        left: 8px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3){
        width: 180px;
        height: 230px;
        background-color: #2F3542;
        top: 555px;
        left: 95px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(2){
        font-size: 16px;
        top: 8px;
        left: 19px;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>p:nth-child(3){
        position: absolute;
        font-size: 14px;
        width: 154px;
        text-align: left;
        top: 53px;
        left: 19px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2){
        position: absolute;
        /*font-size: 25px;*/
        width: 180px;
        height: 230px;
        background-color: #00D2D3;
        top: 311px;
        left: 95px;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(1){
        position: absolute;
        font-size: 16px;
        top: -8px;
        left: 10px;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(2){
        position: absolute;
        font-size: 16px;
        text-align: center;
        top: 12px;
        left: 34px;
        color: #2F3542;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>p:nth-child(3){
        position: absolute;
        font-size: 14px;
        width: 139px;
        text-align: left;
        top: 56px;
        left: 19px;
        color: white;
    }
}
@media all and (min-width: 427px) and (max-width: 769px){
    main>section:nth-child(7){
        background-color: #1E272E;
        height: 1000px;
        width: 98.9vw;
        top: -17px;
    }
    main>section:nth-child(7)>section:nth-child(1)>h1{

        top: -5px;
        left: 287px;
        font-size: 23px;
        font-family: 'Poppins', Inter;
        font-weight: bold;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(1)>h3{
        top: 36px;
        left: 77px;
        font-size: 20px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1){
        /* font-size: 25px; */
        width: 202px;
        height: 264px;
        background-color: #2F3542;
        top: 107px;
        left: 259px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(1){
        font-size: 18px;
        top: -7px;
        left: 8px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>h3:nth-child(2){
        font-size: 18px;
        text-align: center;
        top: 10px;
        left: -3px;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(1)>p:nth-child(3){
        position: absolute;
        font-size: 16px;
        width: 182px;
        text-align: left;
        top: 61px;
        left: 19px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(1){
        position: absolute;
        font-size: 18px;
        top: -8px;
        left: 8px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3){
        width: 202px;
        height: 264px;
        background-color: #2F3542;
        top: 680px;
        left: 259px;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>h3:nth-child(2){
        font-size: 18px;
        top: 15px;
        left: 9px;
        color: #00D2D3;
    }
    main>section:nth-child(7)>section:nth-child(2)>aside:nth-child(3)>p:nth-child(3){
        position: absolute;
        font-size: 16px;
        width: 176px;
        text-align: left;
        top: 53px;
        left: 19px;
        color: white;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2){
        position: absolute;
        /* font-size: 25px; */
        width: 202px;
        height: 264px;
        background-color: #00D2D3;
        top: 391px;
        left: 259px;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(1){
        position: absolute;
        font-size: 18px;
        top: -8px;
        left: 10px;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>h3:nth-child(2){
        position: absolute;
        font-size: 18px;
        text-align: center;
        top: 12px;
        left: 34px;
        color: #2F3542;
    }
    main>section:nth-child(7)>section:nth-child(2)>section:nth-child(2)>p:nth-child(3){
        position: absolute;
        font-size: 16px;
        width: 164px;
        text-align: left;
        top: 56px;
        left: 19px;
        color: white;
    }
}