main>section:nth-child(3){
    background-color:#1E272E;
    height: 650px;
    width:98.9vw ;
    top: -60px;
    position: relative;
}
main>section:nth-child(3)>section:nth-child(1)>h1{
    position: absolute;
    top: -13px;
    left: 640px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
main>section:nth-child(3)>section:nth-child(2)>h4{
    position: absolute;
    top: 45px;
    left: 60px;
    font-size: 20px;
    color: white;
}
main>section:nth-child(3)>section:nth-child(3){
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 860px;
}
main>section:nth-child(3)>section:nth-child(4){
    position: absolute;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 819px;
    top: 188px;
    left: 31px;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(1){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 1;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(1){
    font-size: 15px;
    color: white;
    order: 1;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(2){
    font-size: 15px;
    color: white;
    order: 2;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(3){
    font-size: 15px;
    color: white;
    order: 3;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(4){
    font-size: 15px;
    color: white;
    order: 4;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(5){
    font-size: 15px;
    color: white;
    order: 5;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(6){
    font-size: 15px;
    color: white;
    order: 6;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(2){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 2;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(3){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 3;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(4){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 4;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(5){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 5;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(6){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 6;
}


/*tools----------------------------------------------------------------------------------------------------------------------------*/
main>section:nth-child(3)>section:nth-child(5)>h4{
    position: absolute;
    top: 259px;
    left: 60px;
    font-size: 20px;
    color: white;
}
main>section:nth-child(3)>section:nth-child(6){
    position: absolute;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 548px;
    top: 386px;
    left: 5px;
}
main>section:nth-child(3)>section:nth-child(6)>img:nth-child(1){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 1;
}
main>section:nth-child(3)>section:nth-child(6)>img:nth-child(2){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 2;
}
main>section:nth-child(3)>section:nth-child(6)>img:nth-child(3){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 3;
}
main>section:nth-child(3)>section:nth-child(6)>img:nth-child(4){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 4;
}
main>section:nth-child(3)>section:nth-child(7){
    position: absolute;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 523px;
    top: 445px;
    left: 31px;
}
main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(1){
    font-size: 15px;
    color: white;
    order: 1;
}
main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(2){
    font-size: 15px;
    color: white;
    order: 2;
}
main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(3){
    font-size: 15px;
    color: white;
    order: 3;
}
main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(4){
    font-size: 15px;
    color: white;
    order: 4;
}
/*================================== 320->Mobile -S ==================================*/
@media all and (max-width: 320px) {
    main>section:nth-child(3){
        height: 265px;
        width: 320px;
        top: -17px;
    }
    main>section:nth-child(3)>section:nth-child(1)>h1{
        top: -5px;
        left: 93px;
        font-size: 13px;
    }
    main>section:nth-child(3)>section:nth-child(2)>h4 {
        top: 16px;
        left: 10px;
        font-size: 10px;
    }
    /*==================================================================================================================================================*/
    main>section:nth-child(3)>section:nth-child(3){
        height: 151px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 310px;
    }
    main>section:nth-child(3)>section:nth-child(4){
        position: absolute;
        height: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 302px;
        top: 90px;
        left: 8px;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(1){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(1){
        font-size: 9px;
        color: white;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(2){
        font-size: 9px;
        color: white;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(3){
        font-size: 9px;
        color: white;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(4){
        font-size: 9px;
        color: white;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(5){
        font-size: 9px;
        color: white;
        order: 5;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(6){
        font-size: 9px;
        color: white;
        order: 6;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(2){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(3){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(4){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(5){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 5;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(6){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 6;
    }


    /*tools----------------------------------------------------------------------------------------------------------------------------*/
    main>section:nth-child(3)>section:nth-child(5)>h4{
        position: absolute;
        top: 136px;
        left: 10px;
        font-size: 10px;
        color: white;
    }
    main>section:nth-child(3)>section:nth-child(6){
        position: absolute;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
        top: 182px;
        left: 5px;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(1){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(2){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(3){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(4){
        height: 60px;
        width: 60px;
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(7){
        position: absolute;
        height: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 260px;
        top: 214px;
        left: 8px;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(1){
        font-size: 9px;
        color: white;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(2){
        font-size: 9px;
        color: white;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(3){
        font-size: 9px;
        color: white;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(4){
        font-size: 9px;
        color: white;
        order: 4;
    }

}
/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 376px){
    main>section:nth-child(3){
        height: 702px;
        width: 98.9vw;
        top: 0px;
    }
    main>section:nth-child(3)>section:nth-child(1)>h1{
        top: -5px;
        left: 85px;
        font-size: 18px;
    }
    main>section:nth-child(3)>section:nth-child(2)>h4 {
        top: 22px;
        left: 16px;
        font-size: 16px;
    }
    /*==================================================================================================================================================*/
    main>section:nth-child(3)>section:nth-child(3){
        height: 585px;
        display: flex;
        align-items: center;
        width: 162px;
        justify-content: center;
        flex-direction: column;
    }
    main>section:nth-child(3)>section:nth-child(4){
        position: absolute;
        height: 431px;
        display: flex;
        width: 309px;
        top: 77px;
        left: 8px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(1){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(1){
        font-size: 12px;
        color: white;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(2){
        font-size: 12px;
        color: white;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(3){
        font-size: 12px;
        color: white;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(4){
        font-size: 12px;
        color: white;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(5){
        font-size: 12px;
        color: white;
        order: 5;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(6){
        font-size: 12px;
        color: white;
        order: 6;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(2){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(3){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(4){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(5){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 6;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(6){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 5;
    }


    /*tools----------------------------------------------------------------------------------------------------------------------------*/
    main>section:nth-child(3)>section:nth-child(5)>h4{
        position: absolute;
        top: 519px;
        left: 23px;
        font-size: 16px;
        color: white;
    }
    main>section:nth-child(3)>section:nth-child(6){
        position: absolute;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 296px;
        top: 574px;
        left: 34px;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(1){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(2){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(3){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(4){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(7){
        position: absolute;
        height: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        top: 613px;
        left: 40px;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(1){
        font-size: 10px;
        color: white;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(2){
        font-size: 10px;
        color: white;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(3){
        font-size: 10px;
        color: white;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(4){
        font-size: 10px;
        color: white;
        order: 4;
    }
}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 377px) and (max-width: 426px){
    main>section:nth-child(3){
        height: 702px;
        width: 98.9vw;
        top: 0px;
    }
    main>section:nth-child(3)>section:nth-child(1)>h1{
        top: -5px;
        left: 97px;
        font-size: 20px;
    }
    main>section:nth-child(3)>section:nth-child(2)>h4 {
        top: 22px;
        left: 16px;
        font-size: 16px;
    }
    /*==================================================================================================================================================*/
    main>section:nth-child(3)>section:nth-child(3){
        height: 585px;
        display: flex;
        align-items: center;
        width: 162px;
        justify-content: center;
        flex-direction: column;
    }
    main>section:nth-child(3)>section:nth-child(4){
        position: absolute;
        height: 431px;
        display: flex;
        width: 309px;
        top: 77px;
        left: 8px;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(1){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(1){
        font-size: 14px;
        color: white;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(2){
        font-size: 14px;
        color: white;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(3){
        font-size: 14px;
        color: white;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(4){
        font-size: 14px;
        color: white;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(5){
        font-size: 14px;
        color: white;
        order: 5;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(6){
        font-size: 14px;
        color: white;
        order: 6;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(2){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(3){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(4){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(5){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 6;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(6){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 5;
    }


    /*tools----------------------------------------------------------------------------------------------------------------------------*/
    main>section:nth-child(3)>section:nth-child(5)>h4{
        position: absolute;
        top: 519px;
        left: 23px;
        font-size: 16px;
        color: white;
    }
    main>section:nth-child(3)>section:nth-child(6){
        position: absolute;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 296px;
        top: 574px;
        left: 34px;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(1){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(2){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(3){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(4){
        height: 80px;
        width: 80px;
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(7){
        position: absolute;
        height: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 309px;
        top: 613px;
        left: 40px;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(1){
        font-size: 11px;
        color: white;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(2){
        font-size: 11px;
        color: white;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(3){
        font-size: 11px;
        color: white;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(4){
        font-size: 11px;
        color: white;
        order: 4;
    }
}
@media all and (min-width: 427px) and (max-width: 769px){
    main>section:nth-child(3){
        height: 484px;
        width: 98.9vw;
        top: 0px;
    }
    main>section:nth-child(3)>section:nth-child(1)>h1{
        top: -5px;
        left: 269px;
        font-size: 23px;
    }
    main>section:nth-child(3)>section:nth-child(2)>h4 {

        top: 39px;
        left: 35px;
        font-size: 18px;
    }
    /*==================================================================================================================================================*/
    main>section:nth-child(3)>section:nth-child(3){
        height: 293px;
        display: flex;
        align-items: center;
        width: 703px;
        justify-content: center;
        flex-direction: row;
        align-content: center;
    }

    main>section:nth-child(3)>section:nth-child(4){
        position: absolute;
        height: 431px;
        display: flex;
        width: 556px;
        top: -21px;
        left: 81px;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(1){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(1){
        font-size: 14px;
        color: white;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(2){
        font-size: 14px;
        color: white;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(3){
        font-size: 14px;
        color: white;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(4){
        font-size: 14px;
        color: white;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(5){
        font-size: 14px;
        color: white;
        order: 5;
    }
    main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(6){
        font-size: 14px;
        color: white;
        order: 6;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(2){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(3){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(4){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(5){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 6;
    }
    main>section:nth-child(3)>section:nth-child(3)>img:nth-child(6){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 5;
    }


    /*tools----------------------------------------------------------------------------------------------------------------------------*/
    main>section:nth-child(3)>section:nth-child(5)>h4{
        position: absolute;
        top: 258px;
        left: 35px;
        font-size: 18px;
        color: white;
    }
    main>section:nth-child(3)>section:nth-child(6){
        position: absolute;
        height: 41px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 411px;
        top: 336px;
        left: 34px;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(1){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(2){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(3){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(6)>img:nth-child(4){
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center;
        order: 4;
    }
    main>section:nth-child(3)>section:nth-child(7){
        position: absolute;
        height: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 418px;
        top: 394px;
        left: 40px;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(1){
        font-size: 14px;
        color: white;
        order: 1;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(2){
        font-size: 14px;
        color: white;
        order: 2;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(3){
        font-size: 14px;
        color: white;
        order: 3;
    }
    main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(4){
        font-size: 14px;
        color: white;
        order: 4;
    }
}