main>section:nth-child(3){
    background-color:#1E272E;
    height: 650px;
    width:98.9vw ;
    top: -60px;
    position: relative;
}
main>section:nth-child(3)>section:nth-child(1)>h1{
    position: absolute;
    top: -13px;
    left: 640px;
    font-size: 30px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: #00D2D3;
}
main>section:nth-child(3)>section:nth-child(2)>h4{
    position: absolute;
    top: 45px;
    left: 60px;
    font-size: 20px;
    color: white;
}
main>section:nth-child(3)>section:nth-child(3){
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 860px;
}
main>section:nth-child(3)>section:nth-child(4){
    position: absolute;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 819px;
    top: 188px;
    left: 31px;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(1){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 1;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(1){
    font-size: 15px;
    color: white;
    order: 1;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(2){
    font-size: 15px;
    color: white;
    order: 2;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(3){
    font-size: 15px;
    color: white;
    order: 3;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(4){
    font-size: 15px;
    color: white;
    order: 4;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(5){
    font-size: 15px;
    color: white;
    order: 5;
}
main>section:nth-child(3)>section:nth-child(4)>h4:nth-child(6){
    font-size: 15px;
    color: white;
    order: 6;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(2){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 2;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(3){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 3;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(4){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 4;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(5){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 5;
}
main>section:nth-child(3)>section:nth-child(3)>img:nth-child(6){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 6;
}


/*tools----------------------------------------------------------------------------------------------------------------------------*/
main>section:nth-child(3)>section:nth-child(5)>h4{
    position: absolute;
    top: 259px;
    left: 60px;
    font-size: 20px;
    color: white;
}
main>section:nth-child(3)>section:nth-child(6){
    position: absolute;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 548px;
    top: 386px;
    left: 5px;
}
main>section:nth-child(3)>section:nth-child(6)>img:nth-child(1){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 1;
}
main>section:nth-child(3)>section:nth-child(6)>img:nth-child(2){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 2;
}
main>section:nth-child(3)>section:nth-child(6)>img:nth-child(3){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 3;
}
main>section:nth-child(3)>section:nth-child(6)>img:nth-child(4){
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;
    order: 4;
}
main>section:nth-child(3)>section:nth-child(7){
    position: absolute;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 523px;
    top: 445px;
    left: 31px;
}
main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(1){
    font-size: 15px;
    color: white;
    order: 1;
}
main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(2){
    font-size: 15px;
    color: white;
    order: 2;
}
main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(3){
    font-size: 15px;
    color: white;
    order: 3;
}
main>section:nth-child(3)>section:nth-child(7)>h4:nth-child(4){
    font-size: 15px;
    color: white;
    order: 4;
}